@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Raleway", sans-serif;
}

.navbar{
    background-color: rgba(174, 221, 148, 1);
}

.navbar-brand img{
    height: 90px;
}