@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.navbar{
    background-color: rgba(174, 221, 148, 1);
}

.navbar-brand img{
    height: 90px;
}

.nav-link{
    color: rgb(0, 0, 0) !important;
}

.nav-link:hover{
    color: rgba(240, 240, 240, 1) !important;
}

.jumbotron1{
    height: 500px;
    background-image: url(multimedia/castle-1374916_1280\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}

.jumbotron1 h1,
.jumbotron1 p {
  color: rgba(240, 240, 240, 1);
  text-shadow: 3px 2px 9px rgb(0, 0, 0);
}

.jumbotron1 h1{
    font-size: 35px;
}

.jumbotron1 p{
    font-size: 25px;
}

.btn{
    text-transform: uppercase;
    font-weight: bold;
}

.btn{
    transition: transform 0.5s ease;
}
  
.btn:hover{
    transform: scale(1.1);
}

.articulo{
    text-align: center;
}

.articulo i{
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.articulo p{
    font-size: 20px;
}

h2{
    text-align: center;
    background-color: rgba(174, 221, 148, 1);
    padding: 20px;
    margin-top: 20px;
    border-radius: 40px;
    font-size: 30px;
}

.nleft{
    background-image: url(multimedia/bed-1839184_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.refugio{
    background-color: rgba(240, 240, 240, 1);
}

.refugio p{
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.carousel{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.title{
    margin-left: 10px;
    margin-right: 10px;
}

.ubicacion p{
    font-size: 25px;
    margin: 20px;
    text-align: left;
}

.mapa{
    background-color: rgba(240, 240, 240, 1);
}


/* Refugio Silvestre */

.jumbotron2{
    height: 500px;
    background-image: url(multimedia/bedroom-5772286_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron2 h1{
    font-size: 36px;
    text-shadow: 3px 2px 9px rgb(125, 95, 95);
    margin-top: 30px;
}

.sobre-nosotros h2{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.sobre-nosotros p,
.huerta p,
.cocina p{
    font-size: 25px;
    text-align: center;
    margin: 30px;
}

.nuestra-huerta{
    background-color: rgba(174, 221, 148, 1);
}

.manzanas{
    background-image: url(multimedia/apples-490475_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.huerta h2{
    background-color: rgba(240, 240, 240, 1);
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 40px;
}

.alimentos{
    background-image: url(multimedia/vegetables-752153_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cocina h2{
    margin-left: 30px;
    margin-right: 30px;
}

@media only screen and (max-width: 768px){
    .sobre-nosotros p, .huerta p, .cocina p{
        font-size: 20px;
    }

    .sobre-nosotros p{
        margin-bottom: 5px;
    }

    .alimentos{
        margin-top: 10px;
    }
}

/* Habitaciones */

.jumbotron3{
    height: 500px;
    background-image: url(multimedia/bedroom-1872196_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron3 h1{
    text-shadow: 3px 2px 9px rgb(125, 95, 95);
}

.hab1,
.hab2,
.hab3{
    display: flex;
    justify-content: center;
    background-color: rgba(240, 240, 240, 1);
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.imgh1,
.imgh2,
.imgh3{
    width: 600px;
    margin: 40px;
    border-radius: 20px;
}

.standard,
.deluxe,
.suite{
    padding-top: 80px;
}

.standard h3,
.deluxe h3,
.suite h3{
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 80px;
    padding-bottom: 15px;
    font-size: 32px;
    text-align: left;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.standard p,
.deluxe p,
.suite p{
    margin-right: 80px;
    margin-left: 40px;
    font-size: 25px;
    text-align: justify;
}

section i{
    font-size: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1200px){
    section{
        flex-direction: column;
    }

    .standard p, .deluxe p, .suite p{
        font-size: 20px;
        margin: 30px;
    }

    .standard h3, .deluxe h3, .suite h3{
        font-size: 26px;
    }

    .imgh1, .imgh2, .imgh3{
        margin: 0 auto;
        margin-top: 20px;
        max-width: 80%;
        width: auto;
    }

    .standard i, .deluxe i, .suite i{
        margin-bottom: 20px;
        font-size: 22px;
    }

    .standard, .deluxe, .suite{
        padding-top: 25px;
    }
}


/* Servicios */

.jumbotron4{
    height: 500px;
    background-image: url(multimedia/woman-4373078_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron4 h1{
    text-shadow: 3px 2px 9px rgb(125, 95, 95);
}

.img1, .img2, .img3{
    width: 100%;
    display: block;
}

.card-title{
    text-align: center;
    text-transform: uppercase;
}

.contenedor1{
    width: 90%;
    margin: 0 auto;
}

.card{
    background-color: rgba(240, 240, 240, 1);
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 8px;
}

.card-header{
    height: auto;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    overflow: hidden;
}

.card-title{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.card-description{
    flex-grow: 1;
}

.card-header img{
    border-radius: 10px;
}

.card-body{
    border-radius: 0 0 10px 10px;
    background-color: rgba(240, 240, 240, 1);
    padding: 20px 15px;
    text-align: justify;
    border: 1px solid rgb(202, 202, 202);
}

@media only screen and (min-width: 480px){
    .card-header{
        max-height: 450px;
    }
}

@media only screen and (min-width: 768px){
    .contenedor1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .card-header{
        overflow: hidden;
    }

    .card{
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .card-body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .card-description{
        font-size: 20px;
    }
}

.titulog{
    margin-left: 20px;
    margin-right: 20px;
}

.galeria{
    width: 100%;
    background-color: rgba(240, 240, 240, 1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap: 20px;
}

.item{
    border: 1px solid rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: all 1s;
}

.item:hover{
    transform: scale(1.05);
}

.item1{
    background-image: url(multimedia/restaurant-449952_1280.jpg);
}

.item2{
    background-image: url(multimedia/barista-5055060_1280.jpg);
}

.item3{
    background-image: url(multimedia/platter-2009590_1280.jpg);
}

.item4{
    background-image: url(multimedia/bed-6830011_1920.jpg);
}

.item5{
    background-image: url(multimedia/towel-759980_1280.jpg);
}

.item6{
    background-image: url(multimedia/summer-1836046_1280.jpg);
}

.item7{
    background-image: url(multimedia/mountaineering-455338_1280.jpg);
}

.item8{
    background-image: url(multimedia/spa-853462_1280.jpg);
}

@media only screen and (min-width: 480px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}

@media only screen and (min-width: 1024px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 200px);
    }

    .item1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .item2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .item4{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .item5{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .item6{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .item7{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item8{
        grid-column: 3/5;
        grid-row: 3/4;
    }
    }


/* Footer */

.logo{
    width: 90px;
    margin-left: 10px;
}

footer{
    background-color: rgba(174, 221, 148, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer p{
    color: rgba(0, 0, 0, 0.6);
}

.redes{
    margin-right: 30px;
}

.redes a{
    text-decoration: none;
    letter-spacing: 10px;
    color: rgba(0, 0, 0);
}

.redes i{
    font-size: 35px;
}

footer a:hover{
    color: rgba(240, 240, 240, 1);
}

@media only screen and (max-width: 768px){
    footer{
        flex-direction: column;
        text-align: center;
    }

    footer p{
        margin-top: 12px;
    }

    .logo,
    .redes{
        margin: auto;
    }

    .redes a{
        margin: 0 5px;
    }

    h2{
        font-size: 22px;
    }
}